<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="../model/model.js" defer></script>
    <script src="../controller/controller.js" defer></script>
    <title>Шашки</title>
</head>
<body id ="body">
<div id="wrapper">
    <button id="btn" class="button">START</button>
    <button id="playerMove" class="button">Player Move</button>
</div>
    
        <div class = "desk" >
            <div class="fields" id="desk">

            </div>
        </div>
   



</body>
</html>